################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/UpgradeLog.htm
/.vs
/Backup
/contrib/grx248/Debug
/Depui/Debug
/Depui/LIB/Debug
/plush/Debug
/PlushPlayer/Debug
/Scene/Debug
/**/*.vcxproj.user
/expat/lib/Debug
/**/*.lo
/**/*.o
/**/*.a
/**/*.so*
/**/*.exe
/**/*.la*
contrib/grx248/bin/*
contrib/grx248/test/x*
contrib/grx248/src/systag.002
expat/xmlwf/*
expat/libtool
expat/config.*
contrib/grx248/test/output.ppm
contrib/grx248/test/prueba.pbm
contrib/grx248/test/prueba.pgm
contrib/grx248/test/speedtst.log
contrib/grx248/test/bgi/x*
/contrib/grx248/Release
/depui/LIB/Release
/depui/Release
/expat/lib/Release
/plush/Release
/PlushPlayer/Release
/Scene/Release
/Scene/scenelib.vcxproj
MatEdit/Debug/*
MatEdit/Release/*
PlushPlayer-Matedit/
MatEdit/MatEdit
PlushPlayer/PlushPlayer
PlushPlayer/scndebug.log
PlushPlayer/scenes/scndebug.log
