################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/UpgradeLog.htm
/.vs
/Backup
/contrib/grx248/Debug
/Depui/Debug
/Depui/LIB/Debug
/MatEdit2/Debug
/plush/Debug
/PlushPlayer/Debug
/Scene/Debug
/Depui/Depui.vcxproj.user
/PlushPlayer/PlushPlayer.vcxproj.user
/MatEdit2/Matedit2.vcxproj.user
/plush/plush.vcxproj.user
/Scene/scenelib.vcxproj.user
/Depui/EXAMPLES.vcxproj.user
/expat/lib/Debug
/Debug
