This is the release v{Version} of PlushPlayer and Matedit.

PlushPlayer.exe
===============
A program to view 3D scenes written in XML using the 3D plush library.

Matedit.exe
===========
A material editor which allows interactive manipulating materials of objects in a scene.  

Linux binaries
==============
There are binaries provided for Ubuntu Linux  as well. 
They are named PlushPlayer and MatEdit.

What is the Plush library?
==========================
Both programs use the 3D plush library, formerly available here http://www.nullsoft.com/free/plush/.

PlushPlayer
===========
You can load any *.scx (Scene XML) file in the "scenes" folder.
When you start PlushPlayer, it shows the file open dialog.

In the scene, you can navigate using the mouse and the following buttons:
w - step forward
a - step left
s - step backward
d - step right
r - reload a previously loaded scene
<space>  play/pause
<ESC> shows the exit button
F1 - popup the key help window
F3 - popup the file open dialog.
F9       Set move mode to walk\n"
F10      Set move mode to fly\n"

Matedit
=======
You can modify the material using various sliders. Load a scene file
or use the default standard.scx. Click on one of the materials in
the material list and change its properties with the sliders.
